/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables */
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: white;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --spacing: 0.1rem;
  --radius: 0.2rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s linear;
  --fixed-width: 620px;
}

/* Global */
*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-family: var(--ff-primary);
}

.h2 {
  font-size: 2rem;
}

.h4 {
    font-size: 0.875rem;
}

/* Reviews */
main {
  background-color: var(--clr-grey-10);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 800vw;
  max-width: var(--fixed-width);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  height: 0.2rem;
  width: 5rem;
  background-color: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.review {
  background-color: var(--clr-white);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

#job{
    text-transform: uppercase;
    color: var(--clr-primary-5);
}

.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var();
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}

.random-btn {
  color: var(--clr-primary-5);
  background-color: transparent;
  border-radius: var(--radius);
  border-color: var(--clr-primary-5);
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  transition: var(--transition);
  cursor: pointer;
}

.random-btn:hover {
  background-color: var(--clr-primary-5);
  color: var(--clr-primary-1);
}
